
// stocklore colours
$primary: #6268FF;
$secondary: #B9BCFF;

// Generic Colours
$blue: #0000ff;
$brightBlue:#3939c7;
$babyBlue:#5959da;
$lightBlue: #6b6bcc;

$purple: #800080;
$brightPurple: #912491;

// Grey colours
$stone-700: #44403c;

// Random colours for components and interactivity
$link-hover: rgb(86, 81, 168);
