---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h2 class="my-12 justify-center flex text-neutral-300 text-4xl">Blog Updates</h2>
  <div class="mt-24 mx-24 text-xl text-neutral-400">
    <p class="text-center">We are now in Free Open Beta. Keep up to date on blog articles for the lastest updates and new additions for Stocklore.</p>
    <p class="text-center mt-8">Currently no new blog articles here.</p>
  </div>
</MainLayout>
