---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="container my-16 px-5 mx-auto md:px-0">
    <h2 class="text-4xl text-neutral-300 pb-2">Contact</h2>
    <hr class="py-2" />
    <p class="text-xl text-neutral-400">
      If you would like to inquire about bugs, general information, or other things about the app or project. Please contact us at
      <a class="text-stocklore-secondary" href="mailto:support@stocklore.app">support@stocklore.app</a>
    </p>
    <p class="text-xl text-neutral-400">We are also looking for investors and partners! Please send out an email and we will reply as soon as possible.</p>
    <h2 class="text-4xl text-neutral-300 mt-24 pb-2">Careers</h2>
    <hr class="py-2" />
    <p class="text-xl text-neutral-400">
      Currently, we are not advertising any jobs or positions. You can still contact us however! There may be opportunities available.
    </p>
  </div>
</MainLayout>
