---
interface props {
  id?: string;
  class?: string;
}

const { id = "", class: classString = ""} = Astro.props as props;
---

<!-- Component Content -->
<div id={id} class=`p-8 rounded bg-stone-800 shadow-md ${classString}`>
  <div class="pb-3 text-3xl text-neutral-300">
    <slot name="header" />
  </div>
  <div class="text-neutral-400">
    <slot />
  </div>
</div>

<!-- Styling Content -->
<style></style>
