---

---

<form id="email-list" method="POST" action="/api/email" class="w-full">
  <div class="px-10">
    <label class="block pb-4">Name:</label>
    <input class="block w-full email-input" type="text" name="name" placeholder="First Name" required />
  </div>
  <div class="py-6 px-10">
    <label class="block pb-4">Email:</label>
    <input
      class="block w-full email-input"
      type="email"
      name="email"
	  placeholder="example@email.com"
      required
    />
  </div>
  <p id="response-message" class="px-10"></p>

  <div class="ps-10 pt-3">
    <button type="submit" class="email-button w-32">Submit</button>
  </div>
</form>

<style>
  .email-input {
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
	color: black;
  }
  .email-button {
    padding: 0.5rem;
    border: none;
    background: #0070f3;
    color: white;
	background-color: #6268ff;
    border-radius: 4px;
    cursor: pointer;
  }
  .email-button:hover {
    background: #7f34f8;
  }
</style>

<script>
  const form = document.getElementById("email-list") as HTMLFormElement;
  const message = document.getElementById("response-message") as HTMLParagraphElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    try {
		const res = await fetch("/api/email", {
			method: "POST",
			body: formData
		});

		if (res.ok) {
			message.textContent = "Email added! We will contact you soon 😉"
			message.classList.add("text-green-600")
			form.reset();
		} else {
			const data = await res.json();
			message.textContent = "Error: " + data.message;
			message.classList.add("text-red-700")
		}
    } catch (err) {
      if (err instanceof Error) {
        console.error(err.message);
		message.textContent = "Something went wrong"
		message.classList.add("text-red-700")
      }
    }
  });
</script>
