---

---

<div class="bg-stone-800/75 pt-6 pb-3 flex grid grid-cols-2">
    <div class="pl-4 text-neutral-400">
        <div>
            <p>Stocklore 2025 ©</p>
            <p>Canadian made</p>
        </div>
    </div>

</div>

<style>

</style>