---
import "@fontsource/roboto";

import Navbar from "../components/astroComponents/Navbar.astro";
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>stocklore</title>
</head>
<body id='special' class="bg-stone-700 font-roboto">
	<Navbar/>
	<slot>Page Content Here</slot>
</body>
</html>

<style>
	
</style>

<script>
	
</script>
